.footer-container
{
	display: flex;			
    width: 100%;
    height: 4vw;
	border-top: 0.1vw solid gold;
	border-bottom: 0.1vw solid gold;
	align-items: center;
	justify-content: center;
	font-size: 1.2vw;
	background-color: black;
	color: gold;
}