.home-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-container img
{
    display: block;
    width: 100%;
    height: 35vw;
}

@keyframes slide-left
{
    0% { padding-right: 0; }
    100% { padding-right: 12vw; }
}

.get-started-overlay
{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 75%;
    height: 35vw;
    padding-right: 0vw;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(128,0,0,0), rgba(128,0,0,1));
    animation: slide-left 1s forwards;
}

.get-started-overlay h3
{
    margin: 0;
    margin-bottom: 2vw;
    font-size: 2.5vw;
    color: gold;
}

.get-started-overlay p
{
    margin: 0;
    margin-bottom: 4vw;
    font-size: 1.2vw;
    line-height: 150%;
    text-align: right;
    color: white;
}

.get-started-overlay a
{
    padding: 0.75vw 2vw;
    border: none;
    border-radius: 1vw;
    font-size: 1.2vw;
    font-weight: 600;
    text-decoration: none;
    background-color: gold;
    color: maroon;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0.1vw 0.1vw 0.2vw;
}

.get-started-overlay a:hover
{
    color: crimson;
}

.borrow-process
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vw;
    padding-bottom: 4vw;
    background-color: white;
}

.borrow-process h3
{
    font-size: 1.6vw;
    color: maroon;
}

.borrow-process img
{
    width: 75%;
    height: 100%;
}