.login-container
{
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 4vw 0;
    align-items: center;
    background-color: maroon;
}

.login-container form
{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-top: 3vw;
    padding-bottom: 4vw;
    border-radius: 1vw;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.login-container h1
{
    margin: 0;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    font-size: 2vw;
    color: maroon;
}

.login-container p:first-of-type
{
    margin: 0;
    margin-bottom: 2vw;
    font-size: 1.2vw;
}

.login-container hr
{
    width: 60%;
    margin-bottom: 2vw;
    border-top: 0.2vw solid maroon;
}

.login-input
{
    display: flex;
    margin-bottom: 1vw;
    align-items: center;
    gap: 1vw;
}

.login-input .input-label
{
    display: flex;
    width: 8vw;
    padding: 0.5vw;
    font-size: 1.1vw;
    gap: 1vw;
}

.login-input img
{
    width: 1.5vw;  
}

.login-input label
{
    font-weight: 600;
}

.login-input input, .login-input select
{
    padding: 0.5vw;
    border: 1px solid black;
    border-radius: 0.5vw;
    font-size: 1.1vw;
    background-color: #EEE;
}

.login-input input:focus, .login-input select:focus
{
    background-color: white;
}

.login-buttons
{
    display: flex;
    margin-top: 3vw;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.login-buttons button:first-child
{
    padding: 0.5vw 1vw;
    border: 1px solid maroon;
    border-radius: 0.5vw;
    font-weight: 600;
    font-size: 1.1vw;
    background-color: white;
    color: maroon;
    cursor: pointer;
}

.login-buttons button:last-child
{
    padding: 0.6vw 2vw;
    font-weight: 600;
    font-size: 1.1vw;
    border: none;
    border-radius: 0.5vw;
    background-color: maroon;
    color: gold;
    cursor: pointer;
}

.login-buttons button:first-child:hover
{
    background-color: #DDD;
}

.login-buttons button:last-child:hover
{
    color: white;
}
