.register-container
{
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 4vw 0;
    align-items: center;
    background-color: maroon;
}

.register-container div
{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding-top: 3vw;
    padding-bottom: 4vw;
    border-radius: 1vw;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.register-container h1
{
    margin: 0;
    margin-top: 1vw;
    margin-bottom: 4vw;
    font-size: 2vw;
    color: maroon;
}

.register-container p
{
    margin: 0;
    margin-bottom: 1vw;
    font-size: 1.2vw;
    font-weight: 600;
}

.register-container p:last-of-type
{
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

.register-container hr
{
    width: 35%;
    margin-bottom: 3vw;
    border-top: 0.2vw solid maroon;
}

.register-container a
{
    display: flex;
    width: 14vw;
    padding: 1vw 0;
    border: 0.2vw solid maroon;
    border-radius: 0.5vw;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 1vw;
    color: maroon;
    background-color: gold;
}

.register-container a:hover
{
    border: 0.2vw solid crimson;
    color: crimson;
}