.staffdashboard-container
{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding-top: 4vw;
    padding-bottom: 4vw;
    border-top: 0.2vw solid maroon;
}

.staffdashboard-container h1
{
    margin: 0;
    margin-left: 8vw;
    margin-bottom: 4vw;
    font-size: 2vw;
    color: maroon;
}

.staffdashboard-container h2
{
    margin: 0;
    margin-left: 8vw;
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

.staffdashboard-container table
{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 6vw;
    border: 0.1vw solid #CCC;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.staffdashboard-container tr
{
    border-bottom: 0.1vw solid #CCC;
}

.staffdashboard-container tr:nth-child(2n)
{
    background-color: #EEE;
}

.staffdashboard-container th
{
    padding: 0.5vw 1vw;
    text-align: left;
    font-size: 1.1vw;
    background-color: maroon;
    color: #FFF;
}

.staffdashboard-container td
{
    padding: 0.5vw 1vw;
    font-size: 1vw;
    text-align: left;
}

.staffdashboard-container tr td:last-child
{
    display: flex;
    width: 16vw;
    gap: 1vw;
}

.staffdashboard-container tr button:first-child
{
    width: 8vw;
    padding: 0.5vw;
    border: none;
    border-radius: 0.25vw;
    align-self: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 1vw;
    background-color: #F7C301;
    color: #78081C;
}

.staffdashboard-container tr button:last-child
{
    width: 8vw;
    padding: 0.5vw;
    border: none;
    border-radius: 0.25vw;
    align-self: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 1vw;
    background-color: #78081C;
    color: #FFF;
}